@import "tailwindcss";

*{
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    max-width: 90rem;
    margin: 0 auto;
}
.homeHeroSection{
    background-image: url('../src/assets/images/mobile/image-header.jpg');
}
@media(min-width: 640px){
    .homeHeroSection{
        background-image: url('../src/assets/images/image-hero.jpg');
    }
}
.circlesDiv{
    background-image: url('../src/assets/images/pattern-circles.svg');
}
.cart{
    background-color: rgba(0, 0, 0, 0.5);
}
.activeMenu{
    background-color: rgba(0, 0, 0, 0.5);
}
.activeMenu ul{
    @apply bg-black py-8
}